{% extends "base.html.twig" %}

{% block title %}
    {{ 'app.cost.title'|trans }}
{% endblock %}

{% block body %}

    <div class="row full-width">
        <div class="small-8 small-centered columns">
            <h1 class="tertiary-color text-center padding-top">{{ "app.cost.title"|trans }}</h1>
        </div>
    </div>

    <div class="row ">
        <div class="small-8 large-centered small-10 small-centered columns ">
            <h2 class="tertiary-color text-center padding-top">{{ "app.cost.nuite"|trans }}</h2>
            <p class="secondary-color">
                {{ "app.cost.pnuite"|trans|raw }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="small-8 small-centered columns">
            <h2 class="tertiary-color text-center padding-top">{{ "app.cost.tarifs"|trans }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="small-8 small-centered columns">
            <small>A partir de :</small>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <table>
                <tr>
                    <th>Tarif de location</th>
                    <th>Moyenne saison*</th>
                    <th>Haute saison*</th>
                    <th>Trés haute saison</th>
                </tr>
                <tr class="text-center">
                    <td></td>
                    <td>Juin-Sept-Oct</td>
                    <td>Nov à Mai & Juillet-Aout</td>
                    <td>Noêl & Nouvel An</td>
                </tr>
                <tr class="text-center">
                    <td>Nuitée</td>
                    <td>179€</td>
                    <td>195€</td>
                    <td>220€</td>
                </tr>
                <tr class="text-center">
                    <td>Semaine</td>
                    <td>1250€</td>
                    <td>1365€</td>
                    <td>1540€</td>
                </tr>
            </table>
            <p class="secondary-color text-right">
                {{ "app.cost.legendetarifs"|trans|raw }}
            </p>
            <h2 class="tertiary-color text-center padding-top">{{ "app.cost.condition"|trans }}</h2>
            <p class="secondary-color">
                {{ "app.cost.condiplus"|trans|raw }}
            </p>
        </div>
    </div>

{% endblock body %}
