<div data-sticky-container class="fullfull-width">
    <div class="title-bar sticky" id="topbar" data-sticky data-options="marginTop:0;" style="width:100%; padding:0!important;" >
        <div class="top-bar-title">
            <a class="white" href="{{ path('home') }}">
            <span data-responsive-toggle="responsive-menu" data-hide-for="medium">

                <img src="{{ asset('images/villadesiree.png') }}" style="height:50px;" alt="villa désirée - votre location de villa en guadeloupe" />

            </span>
            <strong>{{ 'app.index.title'|trans }}</strong>
            </a>
        </div>
        <div id="responsive-menu">
            <div class="top-bar-right">
                <ul class="menu">
                    <li><a type="" href="{{ path('home') }}#house"
                           class="secondary-color">{{ 'app.index.topbar.lamaison'|trans }}</a></li>
                    <li><a type="" href="{{ path('home') }}#guada"
                           class="secondary-color">{{ 'app.index.topbar.guada'|trans }}</a></li>
                    <li><a type="" href="{{ path('cost') }}"
                           class="button secondary-color">{{ 'app.index.topbar.tarifs'|trans }}</a></li>
                    <li><a type="" href="{{ path('contact') }}"
                           class="secondary-color">{{ 'app.index.topbar.contact'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
